/***********************************************/
/***********************************************/
/****************    BRAYWEB    ****************/
/***************** MAIN STYLES *****************/
/***********************************************/
/***********************************************/

/*
font-family: 'Ephesis', cursive;
font-family: 'Miltonian', serif;
*/
html {
	scroll-behavior: smooth;
}
*, body {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-size: 16px;
    font-family: 'Ephesis', cursive;
}

body, html {
  scroll-padding-top: 8vh; /* allows anchors interior links such as parchments to link to a lower position. Nav bar doesn't hide titles no more after a click */
}


a, a:visited {
    display: block;
    text-decoration: none;
    text-align: center;/* Centrer les liens dans leur line item */
    font-family: 'Ephesis', cursive;
}

.phraselien {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1.75rem;
    line-height: 1.5;
    font-family: var(--section2-fontfamily);
    padding: 1.4rem;
    text-decoration: underline;
}

table, th, td {
    border: 1px solid black;
    table-layout: auto;
    justify-self: center;
    width: 50vh;
}

th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 1rem;
    border-width: 1px;
    border-color: black;
}

td {
    font-family: arial;
    font-size: 1rem;
    padding: 1rem;
}


li {
    list-style: none;
    font-size: 2rem;
    font-family: 'Ephesis', cursive;

}
/*Uniquement pour les liens du menu*/
li a {
        color: var(--black-color);

}

h2 {
    font-size: 2rem;
    font-weight: 400;
    font-family: cursive;
    text-align: center;
    animation: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: 200ms;
}

h3 {

    color: rgb(0, 0, 0);
    font-family: "tangerine";
    font-weight: 200;
    font-size: 2.5rem;
    line-height: 0.9;
}

h4 {

    color: rgb(0, 0, 0);
    font-family: "tangerine";
    font-weight: 200;
    font-size: 3rem;
    line-height: 0.9;
}

p {
    font-size: 1rem;
    font-family: "arial";
    display: none;
}

img {
    display: block;
    max-width: 100%;
  }


/***********************************************/
/***********************************************/
/***************** ANIMATIONS ******************/
/***********************************************/
/***********************************************/

/***********************************************/
/***********************************************/
/******************  BRAYWEB    ****************/
/******************  SECTIONS   ****************/
/***********************************************/
/***********************************************/

nav {
    height: 15%;
    background: var(--nav-color);
    display: flex;
    justify-content: space-between;
    position: sticky;/**/
    top: 0; /**/
    align-items: center;
    overflow: hidden;
    z-index: 2;
}
.hero {
    min-height: 40vw; 
    width: 100%;
    /* border: 1px solid rgb(0, 0, 0); */
    /* background-image: var(--image-heroBg); */
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    background-image: var(--image-heroBg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}




.logo {
    content: url(content/logomarirederirerond.webp);
    position: relative;
    width: 35vw;
    max-width: 350px;
    z-index: 1;
    align-items: right;
    padding-right: 1vw;
    display: block;
    justify-content: right;
    
}
/********************PHOTO TROP GRANDE trop zoomee******************/
.herophoto {
    content: url(content/herophoto.webp);
    max-width: 60%;
    z-index: 1;
    width: 100%;
    height: 100%;
    align-items: right;
    padding-right: 1vw;
    display: flex;
    justify-content: right;
}


/**************************************/

/***********************************************/
/***********************************************/
/*************  MARIRE DE RIRE    **************/
/******************  SECTIONS 1 ****************/
/***********************************************/
/***********************************************/


#section1 {
    height: auto;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    padding: 2rem;
    background-color: var(--section1-color);
    background-image: var(--image-planches);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.parchment {
    position: relative; /* absolute si on veut mettre le svg sur les bords */
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    width: 400px;
    height: auto;
    margin: 0.75rem;
    box-shadow: 2px 3px 20px black, 0 0 125px #8f5922 inset;
    background-image: url(content/parchemin.webp);
    background-size: cover; 
    text-align: center;
    padding: 1rem;
    border-radius: 30px;
    filter: var(--filterParchment);
    color: black;
}

.emojilaugh {
    height: 4rem;
    margin: 1rem;
    align-self: center;;
    content: url(content/emojilaugh.svg);
}

.bienfaits {
    height: 4rem;
    margin: 1rem;
    align-self: center;;
    content: url(content/bienfaits.svg);
}
.iconquisuije {
    height: 4rem;
    margin: 1rem;
    align-self: center;;
    content: url(content/person.svg);
}
.iconhoraires {
    height: 4rem;
    margin: 1rem;
    align-self: center;;
    content: url(content/iconhonoraires.svg);
}





/**************************************/

/***********************************************/
/***********************************************/
/***************  MARIREDERIRE    **************/
/******************  SECTION  2 ****************/
/***********************************************/
/***********************************************/

#section2 {
    height: auto;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    background-color: var(--section2-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}




#specialiste1 {
    color: var(--specialiste1-color);
    background-color: var(--specialiste1-background-color);
    font-size: 2em;
    border-radius: 20px;
    padding: 1rem;
    line-height: 1;
    width: 100%;
    font-family: var(--specialiste1-fontfamily);
    text-align: center;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    
}

.exemple1 {
    font-size: 1.50rem;
    line-height: 1.5;
    font-family: var(--section2-fontfamily);
    padding: 1.4rem;
    text-align: center;
    width: auto;
    height: auto;
    justify-content: center;
}


.yogadurire {
    width: 180%;
    max-width: 85vw;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 20px;
    box-shadow: 2px 3px 20px black, 0 0 125px #8f5922 inset;
    border: 1px solid black;
    display: flex;
}


/***********************************************/
/***********************************************/
/***************  MARIREDERIRE  ****************/
/******************  SECTION  3 ****************/
/***********************************************/
/***********************************************/



#section3 {
    height: auto;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    background-color: var(--section3-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}


.contreindication {
    border: 1px solid rgb(0, 0, 0);
    font-size: 1.25rem;
    font-style: italic;
    line-height: 1.5;
    font-family: var(--section2-fontfamily);
    padding: 1rem;
    text-align: center;
    width: auto;
    height: auto;
    justify-content: center;
    color: rgb(150, 0, 0);
    line-height: 1.3;
    margin: 1rem ;
}




/***********************************************/
/***********************************************/
/***************  MARIREDERIRE  ****************/
/******************  SECTION  4 ****************/
/***********************************************/
/***********************************************/

#section4 {
    height: auto;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    background-color: var(--section4-color);
    display: flex;
    flex-direction: column;
    flex-wrap: row;
    text-align: center;
    background-color: var(--section4-color);
    align-items: center;
}




.photodemarie {
    width: 90vw;
    height: auto;
    margin: 1rem;
    align-self: center;
    max-width: 50vh;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 2px 3px 20px black, 0 0 125px #8f5922 inset;
    border: 1px solid black;
    display: flex;
}



.diplome {
    width: 30vh;
    max-width: 50vh;
    height: auto;
    margin: 1rem;
    align-self: center;
    max-width: 85vw;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 2px 3px 20px black, 0 0 125px #8f5922 inset;
    border: 1px solid black;
    display: flex;
}



/***********************************************/
/***********************************************/
/***************  MARIREDERIRE  ****************/
/******************  SECTION  5 ****************/
/***********************************************/
/***********************************************/




#section5 {
    height: auto;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    background-color: var(--section5-color);
    padding: 1rem;
}



/***********************************************/
/***********************************************/
/***************  MARIREDERIRE  ****************/
/******************  SECTION  6 ****************/
/***********************************************/
/***********************************************/




#section6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    background-color: var(--planche7-color);    
    background-color: var(--section1-color);
    background-image: var(--image-planches);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1rem;
}
/*IL FAUT VERIFIER LA POSITION DES RESEAUX SOCIAUX, LEUR TAILLE NEST PAS EGALE PAR AILLEURS*/

.parchment2 {
    position: relative; /* absolute si on veut mettre le svg sur les bords */
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    width: 40vh;
    height: auto;
    margin: 0.75rem;
    box-shadow: 2px 3px 20px black, 0 0 125px #8f5922 inset;
    background-image: url(content/parchemin.webp);
    background-size: cover; 
    text-align: center;
    padding: 1rem;
    border-radius: 30px;
    filter: var(--filterParchment);
    color: black;

}



.reseaux {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.emailme {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    width: 20vw;
    animation-name: swingAnimation;
    animation-name: wobbleAnimation;
    animation-duration: 8s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: both;
}



@keyframes swingAnimation {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(10deg); }
  40% { transform: rotate(-5deg); }
  60% { transform: rotate(2deg); }
  80% { transform: rotate(-2deg); }
  100% { transform: rotate(0deg); }
}
@keyframes wobbleAnimation {
  0% { transform: translateX(0) rotate(0); }
  15% { transform: translateX(-20px) rotate(-5deg); }
  30% { transform: translateX(15px) rotate(3deg); }
  45% { transform: translateX(-10px) rotate(-3deg); }
  60% { transform: translateX(5px) rotate(2deg); }
  75% { transform: translateX(-2px) rotate(-1deg); }
  100% { transform: translateX(0) rotate(0); }
}




.fb {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    width: 9vh;
}

.insta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    width: 10vh;
}







/***********************************************/
/***********************************************/
/***************  MARIREDERIRE  ****************/
/******************  SECTION  7 ****************/
/***********************************************/
/***********************************************/


#section7 {
    height: auto;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    background-color: var(--section7-color);
    padding: 1rem;
}

iframe {
    border-radius: .5rem;
    width: 300px;
    height: 300px;
    position: relative;
    display: block;
    text-align: center;
    margin: auto;
}


footer {
    height: auto;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    background-color: var(--footer-color);
    padding-bottom: 1rem;
}

.bottomFixed {
    position: fixed;
    bottom: 0;
}
.footerText {
    color: var(--footerText-Color);
    font-weight: 100;
    line-height: 1;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 1rem;
}

footer a:hover {
    text-decoration: underline;
}

/***********************************************/
/**************** RESPONSIVE *******************/
/***************    NAV BAR   ******************/
/***********************************************/
/***********************************************/
/******************* LOGO **********************/

.logo img {
    width: calc(100px + 2rem); /* COMMENT LUI DONNER UNE TAILLE QUI VA SAGRANDIR AVEC LE VIEWSCREEN */
    filter: drop-shadow(5px 3px 2px rgba(0, 0, 0, 0.25)) drop-shadow(-1px -1px 1.5px rgba(0, 0, 0, 0));
    /* border: 1px solid black; */
    visibility: hidden;
}

.logo img:hover {
     width: calc(100px + 2rem);
     filter: drop-shadow(2px 1px 0px rgba(0, 0, 0, 0.25)) drop-shadow(-1px -1px 1.5px rgba(0, 0, 0, 0));
     position:relative;
     left: 1px;
}
/****************** UL MENU FONCTION ***********************/
#volet {                  /* JAVASCRIPT*/
    display: block; /*none;*/
    position: fixed;
    flex-direction: column;
    width: 220px;
    top: 15%;
    left: -100%;     /* left est repositionné à zéro sur un 'iconX.onclick' dans le fichier JAVASCRIPT*/
    justify-content: space-between; /* Ce flex-end positionne à gauche les liens du menu */
    border: 2px solid black;
    border-radius: 20px;
    padding: 0.1rem;
    background-color: var(--FEFEFE-color);
    transition: 200ms;
}

ul li a {
    font-size: 1.75rem;
    font-family: 'ephesis';
    /* border: 1px solid black; */
    border-radius: 15px;
}
/***********************************************/
/***********************************************/
/***************** MEDIA QUERY *****************/
/******************* >950px ********************/
/***********************************************/
/***********************************************/

@media (min-width: 950px) {
    #volet {
        display: flex; /*none;*/
        position: static;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        border: none;
        border-radius: 20px;
    }
    ul li a {
        font-size: 2.5rem;
        font-family: 'ephesis';
        /* border: 1px solid black; */
        border-radius: 15px;
    }
    #iconX {
        display: none;
        visibility: hidden;
    }

    #close {
        display: none;
        visibility: hidden;
    }
}
/***********************************************/
/***********************************************/
/************* FIN DE MEDIA QUERY **************/
/***********************************************/
/***********************************************/
/***********************************************/
